@charset "utf-8";
/* CSS Document */

#elogo{
	width:100%;
	height:80px;
	margin:0 auto;
	background-color:#FFF;
	}
	
#welcome{
	width:180px;
	height:80px;
	border:#CCC;
	float:right;
	}
.oneline{
    float: left;
}
.time{
    clear: both; margin-left: 55px; margin-top: 5px;
}