<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<!-- 过滤器 -->
	<!-- 第一步过滤：编码过滤 -->
	<filter>
		<filter-name>encodingfilter</filter-name>
		<filter-class>com.elife.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- 第二步过滤：token过滤 -->
	<filter>
		<filter-name>tokenfilter</filter-name>
		<filter-class>com.elife.web.filter.TokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>tokenfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		<!-- 第三步过滤：身份过滤 -->
	<filter>
		<filter-name>accessfilter</filter-name>
		<filter-class>com.elife.web.filter.AccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>
	accessfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BannerServlet</servlet-name>
    <servlet-class>com.elife.web.servlet.web.BannerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BannerServlet</servlet-name>
    <url-pattern>/servlet/BannerServlet</url-pattern>
  </servlet-mapping>

	<!-- 错误页 -->
	<!-- <error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/400.jsp</location>
	</error-page>
 -->


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
